body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.cadastro-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f6fa; /* cinza bem claro */
}

.cadastro-box {
  background: #ffffff;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.cadastro-box h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.cadastro-box form {
  display: flex;
  flex-direction: column;
}

.cadastro-box label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #444;
}

.cadastro-box input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.cadastro-box input:focus {
  border-color: #007BFF; /* azul */
  outline: none;
}

.cadastro-box button {
  background: #007BFF;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.cadastro-box button:hover {
  background: #0056b3;
}
